@page "/order-success"
@using TeamProject.Client.Services.CartService;

@inject ICartService CartService

<PageTitle>Thank you!</PageTitle>

<h3>Thank you!</h3>

<span>zmienice to na cos innego <a href="orders">here</a>.</span>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCountItems();
    }

}
