@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="btn home-button">
    <img src="./book.png" class="book-image" alt="Home"/> 
    <h3>The Book Nook</h3>
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
