<<<<<<< HEAD
﻿.container {
    display: flex;
    flex-wrap: wrap;
}

.product-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-tile {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-details {
    margin-top: 10px;
    text-align: center;
}

    .product-details a {
        text-decoration: none;
        color: #333;
    }

.product-name {
    margin: 0;
    color: #333;
}

.product-description {
    margin: 5px 0;
    color: #555;
}

.product-price {
    color: #5C245C;
    margin: 0;
}

.page-selection {
    margin-right: 5px;
}

.btn-info {
    background-color: #5C245C;
    color: #fff;
}

.btn-outline-info {
    background-color: #fff;
    color: #5C245C;
    border: 1px solid #5C245C;
=======
﻿.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
>>>>>>> ca28a83588a43eba95ed17532f235bb4b48de362
}

    .media-img:hover {
        transform: scale(1.1);
    }

.media-img-wrapper {
    width: 200px;
    text-align: center;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}