span[b-e6wgu49twj] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.2em;
}

.btn[b-e6wgu49twj] {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary[b-e6wgu49twj] {
    background-color: #6c74a7;
    border-color: #6c74a7;
    color: #fff;
}

.btn-primary:hover[b-e6wgu49twj] {
    background-color: #444655;
    border-color: #444655;
}

.btn-primary[b-e6wgu49twj] {
    margin-top: 10px;
    right: 0px;
    transition: transform 0.3s ease-in-out;
}

.btn-primary:hover[b-e6wgu49twj] {
    transform: scale(1.1);
}

.mud-width-full[b-e6wgu49twj] {
    width: 100%;
}

img[b-e6wgu49twj] {
    max-width: 100%;
    height: auto;
}

h2[b-e6wgu49twj] {
    color: #333;
}

p[b-e6wgu49twj] {
    color: #555;
}

select[b-e6wgu49twj] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.price[b-e6wgu49twj] {
    color: #5c245c;
    margin-top: 10px;
}
