h3 {
    color: #5c245c;
}

.form-control {
    width: 50px;
    border: 1px solid #a6a9cd;
}

.mb-0 {
    margin-bottom: 10px;
}

.label {
    color: #5c245c;
}

.btn-primary {
    background-color: #6c74a7;
    border-color: #6c74a7;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #444655;
        border-color: #444655;
    }

.category-btn {
    margin-top: 10px;
    right: 0px;
    transition: transform 0.3s ease-in-out;
}

.variant-btn {
    padding: 15px;
}

.delete-image {
    height: 1rem;
}

.category-btn:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    background-color: #5c245c;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #a6a9cd;
    margin-bottom: 5px;
}

    .row:last-child {
        border-bottom: none;
    }

.col-3 {
    flex: 1;
    color: #fff;
}

.col-visible {
    flex: 0.5;
    display: flex;
    align-items: center;
}

.input-checkbox {
    margin: 0;
    color: #fff;
}

.btn-primary {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.float-end {
    float: right;
}

.float-start {
    float: left;
}
